.App {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

#watching-count p {
  margin: 0;
}

#watching-count p:first-child {
  font-size: 1.3em;
}

#watching-count .red {
  color: red;
}

#tvs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Middle buttons */

button {
  padding: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
}

#start {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  color: #e50914;
  border-color: #e50914;
}

#start:disabled {
  color: #757575;
  border-color: #757575;
}

#stop {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #e50914;
  color: white;
  border-color: #e50914;
}

#start-watching {
  overflow: hidden;
  transition: height ease 1s;
}

/* Episode running time selection */

p#greetings {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

#episodes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
