.App {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

#watching-count p {
  margin: 0;
}

#watching-count p:first-child {
  font-size: 1.3em;
}

#watching-count .red {
  color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid-container > div,
.grid-container > button {
  margin-left: 2px;
  margin-right: 2px;
}

/* Middle buttons */

button {
  padding: 20px;
  background-color: white;
  color: #e50914;
  font-weight: bold;
  border: 1px solid #e50914;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  color: #888888;
  border-color: #888888;
}

button#start {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

button#stop {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #e50914;
  color: white;
  border-color: #e50914;
  margin-left: 2px;
  margin-right: 2px;
}

/* Episode running time selection */

p#greetings {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

#bottom-settings {
  margin-top: 20px;
}
